body {
    background-color: #30A3BB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: white;
    padding: 2.5%;
    border-radius: 1%;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
    width: 30%;
    max-width: 400px;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.logo-container img {
    width: 12%;
    height: auto;
    margin-right: 1%;
}

.logo-text {
    font-family: "italianno", serif;
    font-size: 1.8vw;
    font-style: italic;
    color: #0044cc;
}

h2 {
    font-family: "Times New Roman", serif;
    font-size: 2vw;
    margin-bottom: 3%;
}

input, button {
    width: 100%;
    padding: 3%;
    margin: 2% 0;
    border: 0.1vw solid #ccc;
    border-radius: 0.5vw;
    box-sizing: border-box;
}

.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    padding-right: 10%;
}

.toggle-password {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.5vw;
    color: #888;
}

.toggle-password:hover {
    color: #333;
}

button {
    background-color: #4169E1;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2vw;
}

button:hover {
    background-color: #1E40AF;
}

.register-link {
    margin-top: 2%;
    font-size: 1vw;
}

.register-link a {
    text-decoration: none;
    color: #0056b3;
}

.register-link a:hover {
    text-decoration: underline;
}

label {
    display: block;
    background-color: #fff3cd;
    color: #6e6c6c;
    font-size: 1vw;
    padding: 2%;
    border-radius: 0.5vw;
    margin-bottom: 2%;
    text-align: center;
    border: 0.1vw solid #ffeeba;
}