body {
    background-color: #30A3BB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo-container img {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.logo-text {
    font-family: "italianno", serif;
    font-size: 24px;
    font-style: italic;
    color: #0044cc;
}

h2 {
    font-family: "Times New Roman", serif;
    font-size: 28px;
    margin-bottom: 15px;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;}


.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}


button {
    background-color: #4169E1;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1E40AF;
}

.register-link {
    margin-top: 10px;
    font-size: 14px;
}

.register-link a {
    text-decoration: none;
    color: #0056b3;
}

.register-link span {
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
label {
    display: block;
    background-color: #fff3cd;
    color: #6e6c6c;
    font-size:small;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #ffeeba;
}