body {
    background-color: #30A3BB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: white;
    padding: 5%;
    border-radius: 3%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 35%;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.logo-container img {
    width: 15%;
    height: auto;
    margin-right: 2%;
}

.logo-text {
    font-family: "italianno", serif;
    font-size: 150%;
    font-style: italic;
    color: #0044cc;
}

h2 {
    font-family: "Times New Roman", serif;
    font-size: 180%;
    margin-bottom: 5%;
}

input, button {
    width: 100%;
    padding: 3%;
    margin: 2% 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input {
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding-right: 12%;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 3%;
    width: 6%;
    height: auto;
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
}

button {
    background-color: #4169E1;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 120%;
}

button:hover {
    background-color: #1E40AF;
}

.register-link {
    margin-top: 3%;
    font-size: 90%;
}

.register-link a {
    text-decoration: none;
    color: #0056b3;
}

.register-link span {
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}
