body {
    background-color: #30A3BB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.logo-text {
    font-family:"italianno";
    font-size: 24px;
    font-style: italic;
    color: #0044cc;
}

h2 {
    font-family: "Times New Roman";
    font-size: 28px;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 10px 0;
    text-align: left;
}

.checkbox input {
    margin-right: 8px;
    width: auto;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1E40AF;
}


.login-link {
    margin-top: 10px;
    font-size: 14px;
}

.login-link a {
    text-decoration: none;
    color: #0056b3;
}

.login-link span {
    font-weight: bold;
}
.login-link a:hover {
    text-decoration: underline;
}
