.check-icon {
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: normal;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 50%;
}

#wallPaper1 {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between; /* Tạo khoảng cách đều giữa các ảnh */
    gap: 10px; /* Điều chỉnh khoảng cách giữa các ảnh */
}

#wallPaper1 img {
    width: calc(25% - 10px); /* Trừ đi khoảng cách để ảnh không bị tràn */
    height: 50px;
    border-radius: 5px;
}
