.closed-board-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.closed-board-action,
.closed-board-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.image-closed-board {
    width: 40px;
    height: 32px;
    border-radius: 5px;
}

.closed-board-title {
    font-size: 16px; !important;
    text-align: left; !important;
}

.closed-board-group-title {
    font-size: 14px;
}

.open-closed-board,
.delete-closed-board {
    color: white;
    border: 0;
    padding: 8px 14px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 12px;
}

.open-closed-board {
    background: #0c66e4;
}

.delete-closed-board {
    background: red;
}

.no-closed-board {
    display: block;
    padding: 15px 30px;
    background: #c5d7e7;
    margin: 15px 15px 0;
    border-radius: 5px;
}