/* Khung chính */
#edit_frame {
    margin-right: 160px;
    width: 380px;
    display: none; /* Ẩn mặc định */
    background-color: #3179BA; /* Màu xanh đậm hơn */
    padding: 24px;
    max-width: 460px; /* Giới hạn chiều rộng */
}

/* Tiêu đề & nhãn */
#edit_frame label {
    color: #F1F5F9; /* Màu chữ trắng nhạt */
    font-size: 16px;
    align-self: flex-start; /* Căn trái label */
}

/* Ô input và textarea */
#groupNameInput,
#groupDescInput,
#shortNameInput {
    margin-top: 4px;
    width: 100%;
    padding: 12px;
    border: 2px solid #a0bbdc;
    border-radius: 8px;
    font-size: 15px;
    background-color: #6494c4;
    color: #1E293B;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#shortNameInput {
    margin-top: 4px;
    width: 100%;
    padding: 12px;
    border: 2px solid #a0bbdc;
    border-radius: 8px;
    font-size: 15px;
    background-color: #6494c4;
    color: #1E293B;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#groupNameInput:focus,
#groupDescInput:focus,
#shortNameInput:focus {
    border-color: #0EA5E9; /* Màu xanh khi focus */
    outline: none;
    box-shadow: 0px 0px 8px rgba(14, 165, 233, 0.5);
}

/* Thiết kế textarea */
#groupDescInput {
    min-height: 100px;
    resize: vertical;
}

/* Nhóm nút bấm */
.button-group {
    width: 100%;
    display: flex;
    gap: 12px;
}

/* Thiết kế nút */
#edit_frame button {
    width: 90px;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Nút Lưu */
.save-btn {
    background-color: #0EA5E9;
    color: white;
}

.save-btn:hover {
    background-color: #0284C7;
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(18, 145, 213, 0.4);
}

/* Nút Hủy */
.cancel-btn {
    background-color: #8a939d;
    color: white;
}

.cancel-btn:hover {
    background-color: #DC2626;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(220, 38, 38, 0.4);
}