* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    min-height: 90vh;
}




.container {
    display: flex;
    flex-wrap: wrap; /* Để các phần tử tự xuống dòng trên màn hình nhỏ */
}


#homeLeft {
    width: 17%;
    min-width: 250px;
    min-height: 620px; /* Đảm bảo chiều cao tối thiểu */
    height: auto; /* Tự động mở rộng theo nội dung */
    overflow: hidden; /* Ngăn chặn phần tử con tràn ra ngoài */
    background-color: #93CDD8;
}


#homeLeft #workspace {
    margin: 18px;
    border-radius: 8px;
    width: 50px;
    height: 40px;
    background-color: orange;
}

#homeLeft .represent {
    font-size: 23px;
    color: white;
    font-weight: bold;
}


#workspaceName {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid gray;
}


.represent {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin: 0;
}

#workspaceName p {
    font-size: 20px;
    color: white;
    margin: 0;
}

.icon {
    width: 21px;
    height: 21px;
}

/* Căn ảnh và chữ trong cùng một hàng */
#workspaceList div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 0;
}

#workspaceList {
    padding: 5px 10px 0px 15px;
}

#group {
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 8px;
}

#group p {
    font-size: 40px;
    color: white;
    font-weight: bold;
}

#groupName {
    font-size: 23px;
    color: white;
    margin-left: 10px;
}

#content {
    font-size: 15px;
    width: 650px;
    color: #e8e2e2;
}

#groupInformation {
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid darkgray;

}

#addAcount button {
    width: 275px;
    border: none;
    height: 30px;
    background-color: #1B5B94;
    color: white;
    cursor: pointer;
}

#sortAndSearch {
    display: flex;
    justify-content: space-between;
}

#workspaces {
    margin-left: 74px;
    margin-right: 74px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}



#searchTable input {
    margin-top: 15px;
    border-radius: 5px;
    border-color: white;
    height: 35px;
    color: white;
    background-color: #3179BA;
}

#searchTable button {
    margin-top: 15px;
    border-radius: 5px;
    border-color: white;
    height: 35px;
    color: white;
    background-color: #3179BA;
}




.create-board-btn:hover {
    background-color: #0056b3; /* Đậm hơn khi hover */
    transform: scale(1.05); /* Hiệu ứng phóng to nhẹ */
}

.create-board-btn:active {
    transform: scale(0.95); /* Nhấn xuống nhỏ lại một chút */
}




#workspaceTable button {
    border: none;
    border-radius: 10px;
    width: 177px;
    height: 75px;
    color: white;
    align-content: center;
    background-color: #0D599D;
    cursor: pointer;
}
