

* {
    background-color: #3179BA;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}
main {
    display: flex;
    min-height: 100vh;
    height: auto;
}

.home-left {
    width: 260px;
    position: sticky;
    top: 48px;
    left: 0;
    height: calc(100vh - 48px);
    background: #afe4f1;
}

.content-member-workspace {
    background-color: #3179BA;
    flex-grow: 1;
    min-height: 100vh;
    height: auto;
}

.group-general-info {
    margin: 0 auto;
    padding: 32px;
    max-width: 850px;
    display: flex;
    justify-content: space-between;
}

.group-info {
    display: flex;
}

.group-info-logo {
    margin-right: 10px;
}

.group-title {
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 5px;
    font-size: 35px;
}

.group-info-detail {
    margin: auto 0;
    color: white;
}

.group-info-detail h2 {
    margin: 0;
}

.img-edit-group {
    width: 20px;
}

.group-invite-member {
    padding: 2px 5px;
    font-size: 15px;
}

.group-invite-member {
    padding: 6px 9px;
    background: #084294;
    margin: auto 0;
    border-radius: 5px;
}

.group-invite-member button {
    border: none;
    background: none;
    color: white;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
}

.group-invite-member button img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/*main*/


.content-container {
    background: #3179ba;
    color: white;
    max-width: 1250px;
    margin: 0 auto;
    padding: 16px 32px;
}

.content {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.header-content {
    margin-top: 30px;
}

.header-content h2 {
    color: white;
    margin: 0;
    font-size: 32px;
}

.main-content {
    display: flex;
    margin-top: 20px;
}

.main-content-sidebar {
    width: 300px;
    padding-right: 10px;
}

.main-content-sidebar ul {
    list-style: none;
    padding: 0;
}

.main-content-sidebar ul li {
    margin: 20px 0;
}

.main-content-sidebar ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.main-content-show {
    margin-top: 5px;
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
}

button {
    cursor: pointer;
}

.input-search {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
}

.member-section.active, .guest-section.active, .request-section.active {
    display: block;
}

.user-general-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(255 255 255 / 39%);
}

.user-info {
    color: white;
    display: flex;
    flex-direction: column;
}

.user-info-name {
    font-size: 20px;
    /*font-weight: bold;*/
    margin: 0;
}

.user-button-change button {
    height: 35px;
    width: 130px;
    border-radius: 4px;
    color: white;
    outline: none;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #fafafa;
    background-color:#ffffff12;
    cursor: pointer;
}

.input-search{
    background-color: #ffffff17;
    padding-left: 10px;
    margin-top: 20px;
    border-radius: 4px;
    width: 250px;
    height: 35px;
    border: 1px solid #fff;
    outline: none;
}

h2{
    color: white;
}

p{
    color: white;
    font-size: 16px;
    margin: 13px 0px 0px 0px;
}









.guest-section {
    display: none;
}

/* Chỉnh các phần tử hiển thị theo hàng ngang và căn đều */
.guest-section div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(255 255 255 / 39%);
}

/* Chỉnh màu chữ trắng */
.guest-section label {
    color: white;
    font-size: 18px;
    flex: 1; /* Để các label chia đều khoảng cách */
}

/* Nút "Loại bỏ" */
.guest-section button {
    height: 35px;
    width: 130px;
    border-radius: 4px;
    color: white;
    outline: none;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #fafafa;
    background-color:#ffffff12;
    cursor: pointer;
}




.request-section{
    display: none;
}

.request-section div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(255 255 255 / 39%);
}


/* Chỉnh màu chữ trắng */
.request-section label {
    color: white;
    font-size: 18px;
    flex: 1; /* Để các label chia đều khoảng cách */
}

/* Nút "Loại bỏ" */
.request-section button {
    height: 35px;
    width: 130px;
    border-radius: 4px;
    color: white;
    outline: none;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #fafafa;
    background-color:#ffffff12;
    cursor: pointer;
}