header {
    position: sticky;
    top: 0;
    z-index: 1000;
}
main {
    display: flex;
    min-height: 100vh;
    height: auto;
}

.home-left {
    width: 260px;
    position: sticky;
    top: 48px;
    left: 0;
    height: calc(100vh - 48px);
    background: #afe4f1;
}

.content-member-workspace {
    background-color: #3179BA;
    flex-grow: 1;
    min-height: 100vh;
    height: auto;
}

.group-general-info {
    margin: 0 auto;
    padding: 32px;
    max-width: 850px;
    display: flex;
    justify-content: space-between;
}

.group-info {
    display: flex;
}

.group-info-logo {
    margin-right: 10px;
}

.group-title {
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 5px;
    font-size: 35px;
}

.group-info-detail {
    margin: auto 0;
    color: white;
}

.group-info-detail h2 {
    margin: 0;
}

.img-edit-group {
    width: 20px;
}

.group-invite-member {
    padding: 2px 5px;
    font-size: 15px;
}

.group-invite-member {
    padding: 6px 9px;
    background: #084294;
    margin: auto 0;
    border-radius: 5px;
}

.group-invite-member button {
    border: none;
    background: none;
    color: white;
    display: flex;
<<<<<<< HEAD
    height: 100%;
    width: 100%;
<<<<<<< HEAD
    /*max-width: 1250px;*/
=======
>>>>>>> ef15ccfeb98a86e9b866d90d9da7d2a05bb53255
    position: absolute;
=======
    align-items: center;
}

.group-invite-member button img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/*main*/


.content-container {
    background: #3179ba;
    color: white;
    max-width: 1250px;
>>>>>>> 5d0d86f173133d85ea5b8c100da90c4385ca5163
    margin: 0 auto;
    padding: 16px 32px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-content {
    padding-top: 16px;
}

.header-content h2 {
    margin-bottom: 16px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 32px;
}

.main-content-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 240px;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 5px;
}

ul li.active {
    background-color: rgb(6 43 95 / 50%);
    color: #fff;
    border-radius: 5px;
}

ul li:hover {
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.5);
}

ul li a {
    background-color: transparent;
}

.main-content-show {
    flex: 1 1 600px;
}

button {
    cursor: pointer;
}

.input-search {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
}

.member-section {
    margin-top: 20px;
}

.user-general-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-info p {
    margin: 0;
}

.user-info-name {
    font-size: 22px;
}

.user-button-change {
    display: flex;
    align-items: center;
}

.user-button-change button {
    margin: 0 25px;
    padding: 7px 20px;
    border: 0;
    background: #145289;
    border-radius: 5px;
}